<html>
<head>
    <title>Site Clone</title>
    <script src="/js/jquery-3.2.1.js"></script>
</head>
<body>
<div>
    <form>
        <fieldset>
            <legend>Login</legend>

            <table>
                <tbody>
                <tr>
                    <td>User Name:</td>
                    <td><input name="username" type="text"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input name="password" type="password"/></td>
                </tr>
                </tbody>
            </table>

        </fieldset>
    </form>
</div>
</body>
</html>
